/* основной цвет #212121 */
/* вторичный #757575 */
/* белый #FFFFFF 
белый футер мейл телефон color: rgba(255, 255, 255, 0.6);
*/
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --butons-text-color: #ffffff;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --primary-logo-color: #000000;
}

/* Body */

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

/* Logo */

.logo {
  color: var(--primary-logo-color);
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo span {
  color: var(--accent-color);
}

/* title */

.headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: var(--secondary-white-color);
}

.team .cards {
  background-color: var(--primary-white-color);
}

/* list */

.list {
  list-style: none;
}

.list .text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.list .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.list .position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
}

.list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.list.contacts {
  line-height: 1.71;
  font-style: normal;
}

/* Nav bar */

.nav-menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-menu .link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.nav-menu .contacts {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.nav-menu .link:hover,
.nav-menu .link:focus,
.nav-menu .contacts:hover,
.nav-menu .contacts:focus {
  color: var(--accent-color);
}

.nav-menu .link.current {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: #2f303a;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

/* buttons */

.button {
  color: var(--primary-text-color);
  background-color: var(--secondary-white-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  /* cursor: pointer; */
}

.button:hover,
.button:focus {
  color: var(--butons-text-color);
  background-color: var(--accent-color);
}

.button.primary {
  color: var(--butons-text-color);
  background-color: var(--accent-color);
}

.button.order {
  color: var(--butons-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.footer {
  color: var(--primary-white-color);
  background-color: #2f303a;
  text-decoration: none;
}

.logo-title {
  color: var(--primary-white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}

.logo-title > .logo {
  color: var(--accent-color);
}
.footer.link {
  color: var(--contacts-text-color);
}

.footer:hover,
.footer:focus,
.logo-title:focus,
.logo-title:hover {
  color: var(--accent-color);
}

.projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* 
.feature-list .text {
  color: var(--secondary-text-color);
  list-style: none;
} */
